<h1>favorites Page</h1>
<h2>Welcome to your FAVS
    <%= currentUser.name %>
</h2>

<h3>My Favorites</h3>
<p> I have
    <% drink.length %> favorites!
</p>
<div class="fav">
    <h3>
        <a href="/favorites/<%= cocktailName.name %>">
            <%= cocktailName.name %>
        </a>
    </h3>
</div>
<% }); %>