<h2>Scroll the book</h2>
<form action="/search" method="POST">
    <input type="text" name="name" placeholder="Search By Cocktail">
    <button type="submit">Search</button>
</form>

<form action="/search" method="POST">
    <input type="text" name="name" placeholder="Search By Ingredient">
    <button type="submit">Search</button>
</form>
